<form class="form-horizontal">
    <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            <label for="input-login-username" class="col-lg-2 control-label">Username</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="input-login-username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="input-login-password" class="col-lg-2 control-label">Password</label>
            <div class="col-md-3">
                <input type="password" class="form-control" id="input-login-password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="btn-login">Login</button>
            </div>
        </div>
    </fieldset>
</form>